<%- include('../port/layout-start', { title: title }) %>
<%- include('../port/menu') %>

<h2><%= title %></h2>
<div class="row">
	<div class="d-flex align-items-center">
		<div class="flex-shrink-0">
			<img src="<%= book.fileCover %>" alt="<%= book.title %>" style="max-height: 400px">

		</div>
		<div class="flex-grow-1 ms-3">
			<div class="card-body">
				<h4>Название:</h4>
				<p><%= book.title %></p>

				<h4>Описание:</h4>
				<p><%= book.description %></p>

				<h4>Авторы:</h4>
				<p><%= book.authors %></p>

				<h4>Фаворит:</h4>
				<p><%= book.favorite %></p>
			</div>
		</div>
	</div>
	<!-- Добавляем вывод значения счётчика просмотров -->
	<h4>Количество просмотров:</h4>
	<p><%= counter %></p>
</div>
<aside class="row">
	<h2>Комментарии:</h2>
	<div class="d-flex align-items-center">
		<%- include('../comments/comments') %>
	</div>

</aside>

<%- include('../port/layout-end') %>


